body{
  background-color: black;
 text-align: auto;
 }
  


.portfoli{
font-family: 'Poppins', sans-serif;

text-align: center;
font-size: 50px;
color: white;
}

.mail{
text-align: center;
font-family: 'Poppins', sans-serif;
color: white;
}

.explicacio{
font-family: 'Poppins', sans-serif;
  border: none;
  color:white;
  font-size: 20px;  
  padding: 15px 8px;
  margin: 4px 2px;
}

.box{
  text-align: center;
  max-width:auto;
  min-width:auto;
  padding: 20px;
  padding: 10px;
  border-radius: 15px;
  margin: auto;
  box-sizing: border-box;
}

.boto:hover { background: #a7e2e6; 
border-radius: 5px;
}

.boto{
font-family: 'Poppins', sans-serif;
  border: none;
  background-color:black;
  color:#F9FD08;
  cursor: pointer;
  button: width: 20px;
  display: inline-block;
  font-size: 20px;  
  padding: 15px 8px;
  text-align: center;
  margin: 4px 2px;
  max-width: 700px;
  text-decoration: none;
}

.img{
width: 50%;
border-radius: 20px;
margin: 5px;

}
.img:hover{
transform: scale(1.5);
a
}

.imgp{
width: 3%;
border-radius: 20px;
margin: 5px;

}
.fleximages{
  display: flex;
    flex-wrap: wrap; 
   justify-content: center;
   margin: 40px;
 }
model-viewer{
border-radius: 20px;
height:30vw ;
width: 50vw;
}
.border{
    border: 5px;
    border-color: green;
}
.flex-container {
  display: flex;
    flex-wrap: wrap;
   align-content: center;   
   flex-direction: row;
   justify-content: center;
}

@media only screen and (max-width: 1200px){
  .img{
    width: 100%;
  }
  .imgp{
    width: 60px;
    height: 60px;
  }
  .img:hover{
transform: scale(1.1);
a
}
model-viewer{
border-radius: 20px;
width: 50%;
}

}