body{
  background-color: black;
  overflow: hidden;
 }
  


.portfoli{
font-family: 'Poppins', sans-serif;
text-align: center;
font-size: 50px;
color: white;
}

.mail{
text-align: center;
font-family: 'Poppins', sans-serif;
color: white;
}

.containerflex{
display: flex;
flex-direction: row;
overflow: hidden;


}


.box{
  text-align: center;
  max-width:auto;
  min-width:auto;
  padding: 20px;
  padding: 10px;
  border-radius: 15px;
  margin: auto;
  box-sizing: border-box;
   z-index: -1;
}

.boto:hover { 
background: gray; 
border-radius: 20px;
}


.boto{
  justify-content: center;
 font-family: 'Poppins', sans-serif;
  background-color:black;
  color:#F9FD08;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;  
  padding: 15px 8px;
  text-align: center;
  margin: 4px 2px;
  text-decoration: none;
  transition-duration: .4s;
  border-radius: 10px;
  height: 60px;
}


.img{

width: 50vw;
height: 70vh;
}



/*_____________________________________________________________________________________________________________________________________*/

@media only screen and (max-width: 1200px) {
  
.containerflex{
  flex-direction: column;
}
.img{
width: 100vw;
height: 30vh;
}
  
}



/*_____________________________________________________________________________________________________________________________________*/
* {box-sizing:border-box}



