body{
  background-color: black;
  overflow: hidden;
 }
  


.portfoli{
font-family: 'Righteous', cursive;
text-align: center;
font-size: 50px;
color: white;
}

.mail{
text-align: center;
font-family: 'Righteous', cursive;
color: white;
}

.containerflex{
display: flex;
flex-direction: row;
overflow: hidden;


}


.box{
  text-align: center;
  max-width:auto;
  min-width:auto;
  padding: 20px;
  padding: 10px;
  border-radius: 15px;
  margin: auto;
  box-sizing: border-box;
   z-index: -1;
}

.boto:hover { background: #a7e2e6; 
border-radius: 5px;
}

.boto{
  font-family: 'Boogaloo', cursive;
  border: none;
  background-color:black;
  color:#F9FD08;
  cursor: pointer;
  button: width: 20px;
  display: inline-block;
  font-size: 20px;  
  padding: 15px 8px;
  text-align: center;
  margin: 4px 2px;
  max-width: 700px;
  text-decoration: none;
  border: #F9FD08;
}

.img{

width: 50vw;
height: 70vh;
}



/*_____________________________________________________________________________________________________________________________________*/

@media only screen and (max-width: 1200px) {
  
.containerflex{
  flex-direction: column;
}
.img{
width: 100vw;
height: 30vh;
}
  
}