body{
  background-color: black;
 text-align: auto;
 }
  


.portfoli{
font-family: 'Poppins', sans-serif;
text-align: center;
font-size: 50px;
color: white;
}

.mail{
text-align: center;
font-family: 'Poppins', sans-serif;
color: white;
}
.xarxes{
text-align: center;
font-family: 'Poppins', sans-serif;
color: yellow ;
size:   40px;
}

.xarxes{
  text-align: center;
 margin-top: 450px;

}

.img{
width:  50px;
}
.box{
  text-align: center;
  max-width:auto;
  min-width:auto;
  border-radius: 15px;
  margin: auto;
  box-sizing: border-box;
}

.boto:hover { 
background: gray; 
border-radius: 20px;
}

.boto{
  justify-content: center;
 font-family: 'Poppins', sans-serif;
  background-color:black;
  color:#F9FD08;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;  
  padding: 15px 8px;
  text-align: center;
  margin: 4px 2px;
  text-decoration: none;
  transition-duration: .4s;
  border-radius: 10px;
  height: 60px;

}

@media only screen and (max-width: 1200px){
.xarxes{
  text-align: center;
 margin-top: 300px;


}


/*_____________________________________________________________________________________________________________________________________*/
* {box-sizing:border-box}